
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  button {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  

  
  body[data-theme="dark"] {
    background-color: #121212;
    color: #fff;
  }
  
  body[data-theme="dark"] header {
    background-color: #444;
  }
  
  body[data-theme="dark"] table {
    background-color: #333;
    color: #fff;
  }
  
  body[data-theme="dark"] th {
    background-color: #555;
  }